.toggle-grid {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 2;
}
.grid-overlay {
	visibility: visible;
	position: fixed;;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1;
	.g-item {
		height: 100vh;
		background: rgba(228, 159, 190, 0.1);
		&:nth-child(2n) {
			background: rgba(228, 159, 190, 0.25);
		}
		&__inner {
			position: relative;
			height: 100vh;
			&::before {
				content: ' ';
		    border-right: 1px solid rgba(220,30,30,.3);
				border-left: 1px solid rgba(220,30,30,.3);
				display: block;
				height: 100vh;
			}
		}
	}
}