<aside class="sidebar">
	<h1>Sidebar</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eveniet itaque expedita inventore in cum consequuntur, iure, sit ad optio?</p>
	<div class="vert-list">
		<h1 class="vert-list__title">List Title</h1>
		<ul class="vert-list__list">
			<li class="vert-list__list-item"><a href="">item 01</a></li>
			<li class="vert-list__list-item"><a href="">item 02</a></li>
			<li class="vert-list__list-item"><a href="">item 03</a></li>
			<li class="vert-list__list-item"><a href="">item 04</a></li>
			<li class="vert-list__list-item"><a href="">item 05</a></li>
			<li class="vert-list__list-item"><a href="">item 06</a></li>
			<li class="vert-list__list-item"><a href="">item 07</a></li>
			<li class="vert-list__list-item"><a href="">item 08</a></li>
			<li class="vert-list__list-item"><a href="">item 09</a></li>
			<li class="vert-list__list-item"><a href="">item 10</a></li>
		</ul>
</aside>
