<button class="toggle-grid">Toggle Grid</button>
<div id="js-bs-container" class="grid-overlay container">
	<section class="row">
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
		<div class="g-item col-1"><span class="g-item__inner"></div>
	</section>
</div>